[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"

[packages]
torch = "*"
torchvision = "*"
kornia = "*"

[requires]
python_version = "3.7"
